<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-2">
    <div class="container">
      <h1>New Campground</h1>
      <form
        class="mb-3 needs-validation"
        action="/campgrounds"
        method="POST"
        novalidate
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="campground[name]"
            required
          />
          <div class="invalid-feedback">This field is required.</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            id="location"
            name="campground[location]"
            required
          />
          <div class="invalid-feedback">This field is required.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            name="campground[description]"
            required
          ></textarea>
          <div class="invalid-feedback">This field is required.</div>
        </div>
        <div class="mb-3">
          <label for="imgUrl" class="form-label">Image Url</label>
          <input
            type="text"
            class="form-control"
            name="campground[image]"
            required
          />
          <div class="invalid-feedback">This field is required.</div>
        </div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            id="price"
            name="campground[price]"
            step="0.01"
            placeholder="0.00"
          />
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <a href="/campgrounds">All Campgrounds</a>
    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
